@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
}

a:focus,
a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
}


ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}
/* 
img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
} */

body {
    font-family: "Inter", serif;
}

.top-title {
    background: #0A3641;
    padding: 10px 0;
}

.top-title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: center;
    color: #fff;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    padding-inline: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.header-inner ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-inner ul li a {
    font-size: 23px;
    font-weight: 200;
    line-height: 27.84px;
    color: #000;
    text-decoration: none;
}

.menu-toggle {
    display: none; 
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 37px;
    height: 37px;
}

.menu-toggle::after {
    content: "☰"; 
    font-size: 37px;
    display: block;
}

.menu-toggle.open::after {
    content: "+";
    font-size: 37px;
    transform: rotate(45deg); 
}
.hero{
    padding: 0px 16px;
}

.hero h1 {
    font-size: 32px;
    font-family: "Poppins", serif;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 13px;
}

.hero-inner {
    max-width: 1140px;
    margin: 0 auto;
 
    padding-inline: 10px;
    text-align: center;
}

.shop-btn {
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 300;
    line-height: 27px;
    color: #000;
    width: 147px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    transition: background-color 0.3s ease 0.2s;
}
.shop-btn:hover{
    background-color: #e5e2e2;
}

.bg-img img {
    max-width: 1140px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.bg-img {
    position: relative;
}

.bg-btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.sec-1 {
    max-width: 691px;
    padding-top: 50px;
    padding-bottom: 96px;
    margin: 0px auto;
    padding-left: 16px;
    padding-right: 16px;
}

.sec1-main {
    max-width: 339px;
    margin: 0px auto;
    background-color: #EDE5DF;
    padding: 23px 23px 16px 23px;
    margin-bottom: -15px;
    position: relative;
    /* Enables z-index */
    z-index: 2;
}

.sec1-main h4 {
    color: #0A3641;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.sec1-main p {
    margin-top: 15px;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    max-width: 300px;
    margin: 0px auto;
    font-weight: 300;
    line-height: normal;
}

.btn {
    margin-top: 20px;
    justify-self: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 0px solid #000;
    background: #0A3641;
    width: 100px;
    height: 37px;
    transition: background-color 0.3s ease 0.2s;
}
.btn:hover{
    background: #0c4655;
}

.sec1_images {
    display: flex;

}

.cotton_img {
    height: 376px;
}

.woman_img {
    height: 433px;
    margin-left: -4px;
}

.sec_2 {
    max-width: 1377px;
    margin: 0px auto;
    
}

.sec_2 h4 {
    color: #0A3641;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 78px;
}

.sec2_coat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coat {
    height: 386px;
}

.card {
    text-align: center;
    color: #0A3641;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    margin-bottom: 47px;
}
footer{
    background-color: #EDE5DF;
    margin-top: 56px;
}
.footer_main{
    max-width: 1120px;
    margin: 0px auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
   padding-bottom: 62px;
}
.info{
    
    display: flex;
    gap: 72px;
}
.info div{
    display: flex;
    flex-direction: column;
 

}
.info h4{
    color: #0A3641;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 5px;
}
.info a{
    color: #0A3641;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 275;
line-height: normal;
padding-bottom: 6px;
}
.sear {
   
    margin-top: 29px;
   
}
.sear h4{
    color: #0A3641;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 13px;

}
.sear input{
    background-color: #D9D9D9;
    border: none;
    height: 43px;
    width: 355px;
    padding: 0px 14px;
    color: #0A3641;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 250;
line-height: normal;
}
.sear a{
    color: #0A3641;
    background-color: #D9D9D9;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 1px solid black; 
text-decoration: none;
width: 75px;
height: 39px;
display: flex;
justify-content: center;
align-items: center;
}
.sear a:hover{
    color: white;
    background-color: black;
}
.inp{
    display: flex;
}
.about_main{
    max-width: 1117px;
    margin: 0px auto;
    padding-top: 43px;
    padding-left: 16px;
    padding-right: 16px;
}
.about_main p{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 29px;
}
.last_p{
 padding-bottom: 88px;
}
.sec-head{
    margin-top: 35px;
}