@media (min-width: 1200px) {
}

@media (max-width: 1600px) {}

@media (max-width: 1365px) {
    
}
@media(max-width:1233px){
    .coat {
        height: 375px;
    }
}

@media (max-width: 1199px) {
    .coat {
        height: 308px;
    }
    .footer_main {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 991px) {
    .header-inner ul li a {
        font-size: 18px;
    }
    .hero h1 {
        font-size: 29px;
    }
   
    .info{
        width: 50%;
    }
    .info {
        gap: 23px;
    }
    .sear{
        width: 50%;
    }
    .sear h4 {
        font-size: 25px;
    }
 
    
    .hero-inner {
        padding-inline: 0px; 
    }
    .shop-btn {
        font-size: 17px;
        width: 132px;
        height: 51px;
    }
    .sec2_coat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   
}

@media (max-width: 767px) {
    .header-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .header-inner ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 14%;
        z-index: 1;
        left: 0;
        gap: 0px;
        align-items: start;
        width: 100%;
        background-color: #fff;
        padding: 10px 25px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .menu-toggle {
        display: flex; 
    }

    .header-inner ul li {
        margin-bottom: 15px;
    }

    .menu-toggle {
        display: block; 
    }

    .header-inner ul.show {
        display: flex;
    }

   
    .footer_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info {
        gap: 131px;
    }
    .coat {
        height: 270px;
    }
    .hero h1 {
        font-size: 25px;
    }
    .shop-btn {
        font-size: 14px;
        width: 107px;
        height: 36px;
    }
    .sec1-main h4 {
        font-size: 29px;
    }
    .about_main p {
        font-size: 17px;
        margin-bottom: 23px;
    }
   
    .info {
        width: 100%;
    }
    .sear {
    
        width: 70%;
    }
    .sec-1 {
        padding-top: 30px;
    }
    .sec1-main {
        max-width: 319px;
        margin-bottom: 28px;
    }
    .sec1_images {
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
    }
    .cotton_img {
        object-fit: cover;
    }
    .woman_img {
        object-fit: cover;
        object-position: top;
        margin-left: 0px; 
        margin-top: 23px;
    }
}

@media (max-width: 575px) { 
    .info {
        width: 100%;
    }
    .info {
        gap: 53px;
    }
    .sear {
    
        width: 100%;
    }
    .top-title p {
        font-size: 13px;
    }
    .hero h1 {
        font-size: 20px;
        line-height: 26px;

    }
    .shop-btn {
        font-size: 11px;
        width: 79px;
        height: 29px;
    }
   
    .about_main p {
        font-size: 14px;
        margin-bottom: 13px;
    }
    .sec2_coat {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .info h4 {
        font-size: 23px;
    }
    .info a {
        font-size: 13px;
        padding-bottom: 5px;
    }
   
   
  
}